{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% load static %}

<body>
{% if messages %}
<ul class="messages">
  {% for msg in messages %}
    <li class="{{msg.error}}">{{ msg }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}
    <H2> Welcome to KU-POLLS, {{ user.username }} </H2>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <H2> Welcome to KU-POLLS, {{ user.username }} </H2>
   Please <a href="{% url 'login' %}">Need to Login</a>
    Or <a href="{% url 'signup' %}">SignUp</a>
{% endif %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <br><a>{{ question.question_text }}</a><br>
        <a href="{% url 'polls:detail' question.id %}"><button class="button vote"{%  if not question.can_vote %} disabled {% endif %}>Vote</button> </a>
          <a href="{% url 'polls:results' question.id %}"><button class="button result">Result</button> </a>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
